.container-cabecalho {
    position: fixed;
    width: 100%;
    background-color: var(--cor-fundo-branco);
    box-shadow: 0px 0px 2px black;
    z-index: 1;
}

.cabecalho__titulo {
    color: var(--cor-texto-azul);
    font-size: 2rem;
    font-weight: 700;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuario-logado {
    padding: 0 0.5rem 0 0;
    margin: 0;
}

.menu__botao--usuario {
    width: 50px;
    height: 45px;
    border: 3px solid var(--cor-texto-azul);
    border-radius: 100%;
    padding: 0;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.menu__imagem--usuario {
    width: 44px;
    height: 40px;
    border-radius: 100%;
   
}
.dropdown-menu {
    top: 6px!important;
    left: -5px!important;
    min-width: 0!important;
    box-shadow: 0px 0px 2px black!important;
    border: none!important;

}
.dropdown-item {
    padding: 0.2rem 1rem!important;
}

.dropdown-item-link {
    text-decoration: none;
    font-weight: 200;
}

.dropdown-item-link > i {
    padding-right: 0.2rem;
}

.botao_notificacoes {
    margin: 0 0.5rem 0 0;
   
}

.icone-notificacoes {
    padding-right: 0.5rem;
}

@media screen and (min-width: 760px){

    .container-cabecalho {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 70vh;
        width: 80px;
        height: 30vh;
        background-color: var(--cor-fundo-branco);
        box-shadow: 0px 0px 2px black;
        z-index: 0;
        
    }

    .cabecalho__titulo {
        display: none;
    }

    .dropdown {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        row-gap: 1rem;
    }
    
    .usuario-logado {
        padding: 0;
        margin: 0;
    }

    .botao_notificacoes {
        margin: 0;       
    }

    .menu__botao--usuario {
        width: 50px;
        height: 45px;
        border: 3px solid var(--cor-texto-azul);
        border-radius: 100%;
        padding: 0;
        margin: 0;
    }


}


