.container__info {
   padding: 1rem 2rem 2rem 2rem;
}

.informacoes__tempo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.informacoes__tempo p {
    margin: 0;   
}

.img-tempo {
    height: 60px;
    width: 60px;
}

.informacoes__dia {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacoes__dia p,
.informacoes__dia data,
.informacoes__dia time,
.informacoes__dia a {
    padding: 0.5rem 0;
    margin: 0;
}

.informacoes__alimentacao,
.informacoes__corporal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacoes__corporal p {
    padding: 0.5rem 0;
    margin: 0;
}


.container_noticias {
    padding: 2rem;
}

.noticias--titulo {
    color: var(--cor-texto-azul);
}

.container_divulgacoes {
    padding: 2rem;
    margin: 0;
}

.divulgacoes--titulo {
    color: var(--cor-texto-azul);
}

.info--superior:nth-child(1) {   
    /* (valor 1 = horizontal), (valor 2 = vertical), (valor 3 = sombra), (valor 4 = tirar a sombra)*/
    box-shadow: 
    10px 0 10px -10px var(--cor-azul), 
    0 10px 10px -10px var(--cor-azul);  
}

.info--superior:nth-child(2) {   
    box-shadow: 0 10px 10px -10px var(--cor-azul);   
}

.info--inferior:nth-child(1) {
    box-shadow: 10px 0 10px -10px var(--cor-azul);
}

.swiper {
    height: 50vh;
    width: 100%;
    z-index: 0!important;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide--img {
    height: 100%;
    width: 100%;
}


@media screen and (min-width: 760px){

    .container__info {
        
     
    }
     
    .container_noticias {
       
    }
          
    .container_divulgacoes {
        padding: 2rem;
    }

}

