.container-principal {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 140px);
    margin-top: 60px;
    margin-bottom: 80px;
}

@media screen and (min-width: 760px){

    .container-principal {
        position: absolute;
        right: 0;
        width: calc(100vw - 80px);
        height: calc(100vh - 140px);
        margin-top: 0;
        margin-bottom: 0;
        box-sizing: border-box;
    }

}