.container-principal {
    width: 100%;
    margin-top: 60px!important;
    margin-bottom: 80px!important;
}

@media screen and (min-width: 760px){

    .container-principal {
        position: absolute;
        right: 0;
        width: calc(100% - 80px);
        margin-top: 0!important;
        margin-bottom: 0!important;
        box-sizing: border-box;
    }

}