@import url("header.css");
@import url("menu-mobile.css");
@import url("home.css");
@import url("main.css");
@import url("treinos.css");
@import url("lista-exercicios.css");
@import url("ajustes.css");

:root {
    --cor-fundo-branco: #ffffff;
    --cor-texto-branco: #ffffff;
    --cor-texto-azul: #448aff;
    --cor-azul: #448aff;
    --cor-borda-cinza: #e0e0e0;
    --cor-texto-preto: #000000;
    --cor-fundo-preto: #000000;
}

body {
    font-family: 'Yaldevi';
    font-size: 16px;
    font-weight: 300;
    background-color: var(--cor-fundo-branco);
    color: var(--cor-texto-preto);
}