.menu__central {
    width: 100%;
    height: calc(100vh - 140px)!important;

}

.lista_central {
    height: calc(100vh - 140px)!important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.lista_item_central {
    list-style: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.botao_central {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-azul);
    color: var(--cor-texto-branco);
    font-size: 2.5rem;
    font-weight: 400;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.icone_central-icone {
    padding: 0.5rem;
    font-size: 1.5rem;
    transform: rotate(45deg);
    
}

.estilo_central {
    border-bottom: 1px solid var(--cor-fundo-branco);
}

.lista__exercicios {
    margin: 100px 0!important;  
}

.lista__exercicio--item {
    box-shadow: 0px 0px 5px var(--cor-fundo-preto);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;  
    
}

.lista__exercicios--titulo, .lista__exercicios--titulo+p {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
}

.item--legenda {
   margin: 0;
}

@media screen and (min-width: 760px){

    .menu__central {
        height: 100vh!important;
        margin: 0;
    
    }
    
    .lista_central {
        height: 100vh!important;
        margin: 0;
    }

    .lista__exercicios {
        margin: 0!important; 
    }
    
}